.tip{
    width:auto;
    height: 30px;
    background-color: rgb(178, 178, 178);
}
.table{
    margin-top: 30px;
    height: 100px;

}
.icon{
    color:yellow;
    
}
.icon2{
    color: red;
    margin-left: 25px;
}
body{
    border: 1px solid #3640cd; 
    margin: 20px 20px;
}