@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply text-[38px] mr-8;
        /* @apply font-bold; */
    }
    h2 {
        @apply text-[32px] mr-8;
        /* @apply font-bold; */
    }
    h3 {
        @apply text-[27px] mr-8;
        /* @apply font-bold; */
    }
    h4 {
        @apply text-[23px] mr-8;
        /* @apply font-semibold; */
    }
    h5 {
        @apply text-[19px] mr-8;
        /* @apply font-semibold; */
    }
    h6 {
        @apply text-[16px] mr-8;
        /* @apply font-semibold; */
    }
    button {
        @apply px-4 py-[10px] mx-2;
        @apply rounded-[5px];
        @apply hover:opacity-[0.80];
        @apply text-[16px];
        @apply text-white;
        @apply bg-red-600;
        @apply flex items-center;

        /* @apply fill-current;
        @apply transition;
        @apply duration-200;
        @apply ease-in-out; */
    }

    input,
    textarea,
    select {
        @apply appearance-none;
        @apply w-full;
        @apply border shadow;
        @apply my-2 px-3 py-[10px];
        @apply rounded;
        @apply text-gray-700;
        @apply focus:outline-[#93c7e3];

        /* checkbox: w-5 h-5 */
    }
    table {
        @apply w-full;
    }

    thead {
        @apply h-[90px];
        @apply text-[19px];
        @apply border-y-[3px];
    }

    tr {
        @apply h-[83px] border-y-[1px];
    }

    th,
    td {
        @apply text-left;
        @apply indent-6;
    }

    label {
        @apply text-[17px] font-semibold;
    }

    ul {
        @apply list-none;
    }

    li {
        @apply w-full;
        @apply rounded-2xl;
        @apply bg-white;
        @apply flex;
        @apply items-center;
        @apply px-9 py-6;
        @apply justify-between;
        @apply my-5;
    }
}

@layer components {
    .block-container { /* Dùng để bọc 1 nhóm lớn có các khoảng trắng ở giữa */
        @apply w-full;
        @apply h-[65px];
        @apply shadow-xl;
        @apply flex justify-between;
        @apply px-6 py-2 mb-10;
    }
    .block-box { /* Bọc 1 nhóm nhỏ các phần tử */
        @apply flex;
        @apply items-center;
        @apply justify-center;
    }
    .block-table {
        @apply mx-10;
        @apply my-5;
    }
    .block-header {
        @apply w-full;
        @apply flex;
        @apply items-center;
        @apply h-[90px];
        @apply bg-[#435d7d];
        @apply px-10;
        @apply justify-between;

        /* @apply flex-wrap;
        @apply justify-center; */
    }
    .block-footer {
        @apply mx-10 my-5;
        @apply h-[50px] mt-[70px] px-10;
        @apply flex justify-between items-center;
        @apply text-[19px] text-[#435d7d];
    }

    .block-circular {
        @apply w-10 h-10;
    }
    .icon { /* Dùng cho icon độc lập */
        @apply text-[26px] mx-3;
        @apply cursor-pointer;
        @apply hover:opacity-80;
    }
    .icon-btn { /* Dùng cho icon trong button */
        @apply text-[23px] mr-2;
    }
    .icon-exit { /* Dùng cho icon thoát */
        @apply scale-[130%];
        @apply cursor-pointer;
        @apply hover:text-red-600;
    }
    .bg-blur {
        @apply fixed top-0 left-0 bg-black w-[100%] h-[100%] bg-opacity-20;
    }
    .form {
        @apply fixed left-[50%] translate-x-[-50%] top-[50%] translate-y-[-60%];
        @apply w-[30%] min-h-0 bg-white rounded-2xl shadow-2xl;
    }
    .form-top {
        @apply px-12 py-8 flex justify-between items-center;
        @apply border-b-2;
    }
    .form-main {
        @apply px-12 py-5;
    }
    .form-bottom {
        @apply px-12 py-5 h-[80px] bg-gray-200 flex justify-end rounded-b-2xl text-[19px];
    }
    .error {
        @apply mb-5 text-red-500 italic;
    }
    .btn-form-cancel {
        @apply text-red-600 bg-gray-200 hover:text-red-700;
        @apply font-medium px-8 mx-1 rounded text-[19px];
    }
    .btn-form-submit {
        @apply bg-green-600 text-white hover:bg-green-700;
        @apply font-medium px-8 mx-1 rounded text-[19px];
    }
    .btn-outline {
        @apply border-[2px];
        @apply text-black bg-white border-black;
    }
    .btn-page {
        @apply px-4 py-2;
        @apply rounded-md;
        @apply bg-white;
        @apply text-[#435d7d] text-[18px];
        @apply opacity-50;
    }
    .btn-page-active {
        @apply text-white;
        @apply bg-[#435d7d];
        @apply opacity-100;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #000 !important;
}
